#toast {
    visibility: visible;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    padding: 5px;
    font-weight: 600;
        &.show {
            visibility: visible;
            -webkit-animation: fadein 0.3s, fadeout 0.5s 3.7s;
            animation: fadein 0.3s, fadeout 0.5s 3.7s;
        }
}

//TODO:
//case toastType.Error:
//toastDiv.style.backgroundColor = 'rgb(228, 60, 60)';
//break;
//case toastType.Success:
//toastDiv.style.backgroundColor = 'rgb(175, 224, 175)';
//break;
//case toastType.Info:
//toastDiv.style.backgroundColor = 'rgb(64, 128, 207)';

/* Animations to fade the toast in and out */
@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}
  
@keyframes fadeout {
    from {opacity: 1}
    to {opacity: 0}
}