<div id="menu">
    <button class="btn-menu total" title="A venir">
        <div class="flex flex-row items-center">
            <div class="basis-1/4 ml-2 mr-2">
                <img src="../../assets/heart-svgrepo-com.svg" alt="Coeur" height="35px" width="35px" class="inline mr-1">
            </div>
            <div class="basis-3/4 text-right">
                <span>TOTAL</span>
            </div>


        </div>
        </button>
    <button class="btn-menu deplacement" title="A venir">
        <div class="flex flex-row items-center">
            <div class="basis-1/2 ml-2 mr-2">
                <img src="../../assets/plane.svg" alt="Avion" height="40px" width="40px" class="inline mr-1">
            </div>
            <div class="basis-1/2 text-left">
                <span>DEPLACEMENT</span>
            </div>
        </div>
    </button>
    <button class="btn-menu maison" title="A venir">
        <div class="flex flex-row items-center">
            <div class="basis-1/2 ml-2 mr-2">
                <img src="../../assets/home.svg" alt="Maison" height="40px" width="40px" class="inline mr-1">
            </div>
            <div class="basis-1/2 text-left">
                <span>MAISON</span>
            </div>
        </div>
    </button>
    <button class="btn-menu internet">
        <div class="flex flex-row items-center">
            <div class="basis-1/2 ml-2 mr-2">
                <img src="../../assets/internet.svg" alt="Internet" height="40px" width="40px" class="inline mr-1">
            </div>
            <div class="basis-1/2 text-left">
                <span>INTERNET</span>
            </div>
        </div>
    </button>
    <button class="absolute left-1 top-1/2">
        <div class="flex flex-row items-center">
            <div>
                <img src="../../assets/hide_menu.svg" alt="Cacher menu" height="25px" width="25px" class="inline" *ngIf="!hideMenu" (click)="toogleMenu()">
                <img src="../../assets/show_menu.svg" alt="Montrer menu" height="25px" width="25px" class="inline" *ngIf="hideMenu" (click)="toogleMenu()" title="MENU">
            </div>
            <div class="text-left font-semibold text-xs">
                <span *ngIf="hideMenu">MENU</span>
            </div>
        </div>

    </button>
</div>
