<div class="flex flex-row">
    <div #chart id="chart" class="basis-11/12">
        <div id="tooltip" class="tooltip w-72">
            <div class="tooltip-date flex flex-col">
                <span id="start_date"></span>
                <span id="date"></span>
            </div>
            <div class="tooltip-origin">
                <span id="origin"></span>
            </div>
            <div class="tooltip-co2" class="flex flex-row items-center w-4/5 mt-2 m-auto text-base">
                <img src="../../assets/co2.svg" height="50px" width="50px" alt="Co2" class="mr-1"/>
           <span id="co2" class="text-red-500"></span><span class="ml-1"> émis</span>
            </div>
            <span class="underline underline-offset-2">Equivaut à : </span>
            <div class="flex flex-row mt-2">
                <div class="basis-1/2 flex flex-row items-center">
                    <img src="../../assets/car.svg" width="35px" height="35px" alt="Voiture" class="mr-2"/>
                    <span id="kmByCar"></span>
                </div>
                <div class="basis-1/2 flex flex-row items-center">
                    <img src="../../assets/phone.svg" width="38px" height="38px" alt="Smartphones"/>
                    <span id="chargedSmartphones"></span>
                </div>
</div>

        </div>
    </div>
    <div id="filters" class="absolute right-0 p-2 flex flex-col top-1/2">
        <div>
            <button class="btn-graph" id="zoomButton" title="Zoomer">
                <img src="../../assets/zoom.svg" alt="Zoom" width="25px" height="25px">
            </button>
            <button class="btn-graph" id="global_data" title="Données du dernier jour">
                <img src="../../assets/earth.svg" width="25px" height="25px" alt="Bouton moyenne globale" title="Données moyennes de tous les utilisateurs">
            </button>
        </div>
        <div>
            <button class="btn-graph" id="day" title="Données du dernier jour">Aujourd'hui</button>
            <button class="btn-graph activated" id="all" title="Données depuis le début">Début</button>
        </div>
        <div class="text-left">
            <toggle-button [buttonName]="'FILTRES'" [classNameToToggle]="'btn-graph'"></toggle-button>
        </div>
    </div>
</div>

<div id="install_extension_message" class="absolute top-1/3 left-0 right-0 bottom-0 lg:w-1/2 w-3/4 z-50 lg:p-4 lg:pl-10 p-5 p-12 m-auto"  *ngIf="isExtensionMessageDisplayed">
    <div class="w-full text-center rounded-lg bg-lime-400 shadow-2xl border-2 border-slate-300 p-4 text-slate-800 z-50 text-sm font-semibold">
        <p *ngIf="browserName === 'Mozilla Firefox'"><a href="https://addons.mozilla.org/fr/firefox/addon/ecobuddy/" class="text-blue-700">Installe l'extension pour Firefox</a> et commence à suivre ton empreinte carbonne ! <br>
            Une fois l'extension installée, actualise la page s'il te plait.
        </p>
        <p *ngIf="browserName === 'Chrome'"><a href="https://chrome.google.com/webstore/detail/ecobuddy/fobapffpfeacngdlddcjadfkaegidece" class="text-blue-700">Installe l'extension pour Chrome</a> et commence à suivre ton empreinte carbonne ! <br>
            Une fois l'extension installée, actualise la page s'il te plait.
        </p>

        <img class="absolute top-0 left-0 border-4 rounded-full" src="../../assets/buddy.png" width="80">
        <button class="absolute top-0 right-0" (click)="closeMessageOverlay()" id="close_message_button"><img src="../../assets/close.svg" width="40"></button>
        <br>
        <input class="mt-4" type="checkbox" id="dont_show" name="dont_show" />
        <label class="text-sm ml-1" for="dont_show">ne plus afficher ce message</label>
    </div>
</div>

<div id="toast">
    <span>{{ toastService.toastMessage }}</span>
</div>